@import '../../constants/variable.scss';

$fontHeight: 60px;

.Navbar {
	font-size: 20px;
	height: $fontHeight;
	line-height: $fontHeight;
	text-align: center;
	font-weight: bold;
	box-shadow: 0px 0.1px 5px 1px #2f2f2f44;
}

